@model List<ProyectoGimnasio.Models.ClienteCLS>

<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Ingreso</th>
        <th>Tipo de Plan</th>
        <th>Sexo</th>
        <th>Acciones</th>
    </tr>
    @if (Model != null)
    {
        foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.NOMBRE</td>
                <td>@cliente.APELLIDO</td>
                <td>@cliente.FECHAINGRESO</td>
                <td>@cliente.TIPODEPLAN</td>
                <td>@cliente.IDSEXO</td> <!-- Muestra la descripción del sexo -->
                <td>
                    <a href="javascript:void(0)" class="btn btn-success" onclick="Editar(@cliente.IDCLIENTE)">Editar</a>
                    <a href="javascript:void(0)" class="btn btn-danger" data-toggle="modal" data-target="#EliminarConfirmacion" onclick="Eliminar(@cliente.IDCLIENTE)">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>
